<div id="page">
  <div id="an1" style="height:400px;width:800px; "></div>
    <script class="code" language="javascript" type="text/javascript">
      $(function() {
        chart("an", 1, 29, "Fillups", "monthly");
      });
    </script>
  </div>
</div>
